.sample_selector1 {

    display:none;

    .sample_selector2 {

        font-weight:bold;

        .sample_selector3 {

            color:blue;

            .more_stuff1 {color:blue;}
            .more_stuff2 {color:blue;}
            .more_stuff3 {color:blue;}
            .more_stuff4 {color:blue;}
            .more_stuff5 {color:blue;}
            .more_stuff6 {color:blue;}
        }
    }
}
